<?xml version='1.0' encoding='UTF-8' ?>
<cfg>
    <!--"split" parameters tell the config handler what string data to split to
    lists before returning-->
    <globals>
        <enigma_defaults split="rotors" model="Enigma1" reflector="UKW-B" rotors="I II III"/>
        <font toint="size" style="Arial" size="10"/>
        <bg color="gray85"/>
        <unit_tests startup_test="True"/>
        <historical_cfg data_dir="enigma\historical_data.xml"/>
        <setting_vars toint="*" sound_enabled="1" autorotate="1" sync_scroll="1" rotor_lock="0" show_numbers="0"/>
    </globals>
    <test_cfg>
        <!--Data for enigma unit tests-->
        <default_cfg split="rotors" reflector="UKW-B" rotors="I II III"/>
        <test_encrypt_decrypt encrypted="FQGAHWLMJAMTJAANUNPDY"
                              decrypted="ENIGMAUNITTESTMESSAGE"/>
        <test_rotors split="rotors" rotors="III I II"/>
        <test_positions split="positions" positions="A B C"/>
        <test_reflector reflector="UKW-B"/>
        <test_ring_settings split="ring_settings" ring_settings="C B A"/>
        <test_plugboard split="pairs" pairs="AQ XP FG DR"/>
    </test_cfg>
    <saved>
        <!--Save config here!-->
    </saved>
</cfg>